button{ 
    background:linear-gradient(to bottom right, $rose,$violet) ;
    color:white;
    border-color: transparent;
    height: 2.5rem;
    border-radius:25px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    min-width: 30%;
}

button:hover{
    opacity:0.4;
    transition: opacity 1s ease-in-out;
}
