.coeur,
.iconecoeur {
  color: black;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    animation: coeur 300ms ease-in-out forwards;
    transition: opacity 1s ease;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}