.coeur,
.iconecoeur {
  color: black;
  opacity: 0.8;
}

.titre__like {
  position: absolute;
  right: calc(8% - 3px);
  bottom: calc(10% - 6px);
  font-size: 34px;
  font-weight: 900;
  color: transparent;
}

.like,
.like2,
.like3,
.like4 {
  position: absolute;
  right: calc(5% - 2px);
  bottom: calc(10% - 6px);
  font-size: 30px;
  font-weight: 900;
  color: transparent;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  color: black;
  animation: coeur 1s ease-in-out forwards;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

input[type="checkbox"]:not(:checked) + label {
  color: transparent;
  cursor: pointer;
  opacity: 0.2;
}

@keyframes coeur {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}