@import url(scss\abstracts\__abstracts-dir.scss);

.fonctionnement {
    margin-top: 50px;
    padding-bottom: 25px;

    .fonctionnement__titre {
        margin-left: 7%;
    }

    .fonctionnements__etapes {
        display: block;
        margin-left: 7%;
        margin-right: 5%;
        padding-bottom: 5px;

        .fonctionnements__etapes_div {
            display: flex;
            width: 100%;
            background-color: ghostwhite;
            border-radius: 25px;
            margin-left: 0px;
            margin-right: 0;
            margin-top: 25px;
            margin-bottom: 25px;
            height: 4.7rem;
            box-shadow: 1px 4px 8px 0px #c4c4c4;
            &:hover{
                background-color: lighten(#9356dc, 34%);
                .fa-solid{
                    color:#9356DC;
                }
            }

            .fonctionnements__etapes_divnum {
                padding: 2px 8px;
                background-color: #9356DC;
                border-radius: 100%;
                margin-top: 1.5rem;
                margin-left: -0.55rem;
                margin-bottom: 1.8rem;
                color: white;
            }

            .fonctionnements__etapes_divicone {
                margin-top: 1.5rem;
                margin-left: 5%;
                margin-right: 5%;
                font-size: 22px;
                color: gray;
            }

            .fonctionnements__etapes_divtext {
                margin-top: 1.8rem;
                font-weight: bold;
            }
        }
    }
}