.repas-vignette-validation {
    display:flex;
    justify-content: space-between;
    background-color: ghostwhite;
    width: 94%;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;

    .repas-validation {
        visibility: hidden;
        opacity: 0;
    }

    .repas-vignette {
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 10px;

        .repas-vignette--bold {
            font-weight: bold;
        }

        .repas-vignette__desc {
            display:flex;
            justify-content: space-between;
            margin-top: -30px;

            .repas-vignette__desc--bold {
                font-weight: bold;
                margin-right: 20px;
            }
        }
    }
}

.repas-vignette-validation:hover {
    .repas-validation {
        visibility: visible;
        flex-basis: 20%;
        max-width: 20%;
        flex-grow: 1;
        flex-shrink: 1;
        background-color: $bleu;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        opacity: 1;
        transition: opacity 1s ease;

        .fa-circle-check {
            margin: 25px;
            font-size: 20px;
            color: white;
        }
    }
}