.repas {
    .repas-typeplat {
        text-transform: uppercase;
        margin-left: 3%;
    }

    .soulignage {
        border-top: 3px solid $bleu;
        width: 42px;
        margin-top: -17px;
        margin-left: 3%;
    }
}