footer{
    position:relative;
    iframe{
        position: absolute;
        left:0px;
        right:0px;
        width:100%;
    }
}

.footer-body{
    background-color: rgb(48, 48, 48);
    margin-left: 20px;
    .footer__image{
        filter:brightness(100);
        width:90px;
        margin-bottom: 10px;
        margin-left: 3%;
    }
    .footer__lien{
        text-decoration: none;
        margin-bottom: 0.5rem;
        color:white;
        display:block;
        flex-direction: column;
        margin-left: 3%;
    }
}
