.header{
    display:flex;
    .header__a{
        text-decoration: none;
        color:black;
    }
    .header__logo{
        margin:auto;
        height:30px;
    }
}

.fa-arrow-left-long{
    position:absolute;
    left:20px;
    top:10px;
}
