.parentspinner {
  display:flex;
  position: fixed;
  width: 100vw;
  height: 105vh;
  background-color: $violet;
  animation: disparition forwards 3s 1;
  z-index: 9999;


  @keyframes disparition {
    0% {
      transform: scale(1);
    }

    99% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  .spinner {
    .spinnertext{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      font-size:12px;
      font-family: 'Roboto', sans-serif;
    }
    display:flex;
    margin:auto;
    background: $bleu;
    pointer-events: none;
    width: 20rem;
    height: 20rem;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: $rose;
    border-radius: 50%;
    animation: loadingspin 1s linear forwards infinite;

    @keyframes loadingspin {
      0% {
        transform: rotate(0deg);
        opacity: 0;
      }

      50% {
        transform: rotate(180deg);
        opacity: 1;
      }

      100% {
        transform: rotate(360deg);
        opacity: 0;
      }
    }
  }
}