.repas {
    background-color: ghostwhite;
    margin-top: -22px;
    
    .repas-typeplat {
        text-transform: uppercase;
        margin-left: 3%;
        padding-top: 33px;
        padding-bottom:2px;
        font-weight:400;
    }

    .soulignage {
        border-top: 3px solid $bleu;
        width: 42px;
        margin-top: -19px;
        margin-left: 3%;
    }
}
#repas-typeplat--margeplus{
    margin-left: 15%;
}
#repas-typeplat--margeplus2{
    margin-left: 15%;
}