@import'../abstracts/variable';
.titre{
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    /* les 2 paramètres ci dessous doivent être ensemble pour effacer l'image en arrière plan*/
    background-color: ghostwhite;
    position: relative;
    z-index: 2;

    .titre__titre {
        margin-left: 3.5%;
        padding-top: 15px;
        margin-bottom: -2px;
        font-family: 'shrikhand', sans-serif;
        font-size:27px;
    }

    .iconecoeur {
        font-size: 28px;
        margin-right: 3%;
        transition: font-weight 1s ease;

        &:hover {
            font-weight: 900;
            color:linear-gradient(to bottom right, $rose,$violet);
            opacity:1;
        }
    }
}